h1{
    color: red;
    font-style: 40px;
    text-align: center;
}
h2{
    color: green;
    font-size: 33px;
    text-align: center;
}
h3{
    color: indianred;
    font-size: 28px;
    text-align: center;
}
li:first-child{
    background-color: red;
    font-size: 50px;
    text-align: center;
    color: white;
}